body {
    padding: 0;
    margin: 0;
}

#login {
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-style: oblique;
}

.containerlogo {
    display: flex;
    align-items: center;
}

.logoimg {
    height: 60px;
}
header {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 10px;
}

.menu li a {
    font-size: 16px;
    text-decoration: solid;
    color: white;
    padding: 15px 10px;
    font-style: oblique;

}

.topdiv {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    padding-bottom: 25px;
}
li {
    list-style: none;
}
.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 80px;
    border-radius: 30px;
    width: 480px;
}

.card-cadastro {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 80px;
    border-radius: 30px;
    width: 480px;
    height: auto;
}

.card-header {
    padding-bottom: 30px;
    opacity: 0.8;
    color: #fff;
    font-size: 20px;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

a:hover {
    background-color: #0d172a;
    color: black;
    border-radius: 1.5rem;
}

.button-81 {
    background-color: #ffffff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }

    .zoom {
        transition: transform .2s;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .zoom:hover {
        transform: scale(1.6);
    }
}

.section-title {
    font-size: 35px;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.containerprodutos {
    justify-content: center;
    text-align: center;
}

.produto-img {
    padding: 50px;
    height: 100px;
    width: 100px;

}

.sub-container {
    padding: 50px;
    border-width: 0.5px;
    border-style: groove;
    border-radius: 25px;
    background-color: #fff;
}

.doisrodutos {
    display: flex;
    justify-content: center;
}

.border {
    padding: 20px;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
}

.logofooter {
    height: 45px;
    margin-bottom: 15px;
}

.copy-right {
    text-align: center;
    color: #ebe1e1;
}

footer {
    padding-top: 90px;
    background: #333;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
.container12 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
th {
    text-align: left;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.card-cadastro-produto {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 80px;
    border-radius: 30px;
    width: 480px;
    height: auto;
}

.card-header-produto {
    padding-bottom: 40px;
    opacity: 0.8;
    color: #fff;
    font-size: 20px;
}

.card-header-produto::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content-produto label {
    color: #fff;
    font-size: 16px;
    opacity: 0.8;
}

.card-content-area-produto {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area-produto input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}
